[Unit]
Description=gemini-discord geminiClient %i
PartOf=gemini-discord.target
After=network.target

[Service]
Type=simple
User=gemini-discord
Group=gemini-discord
ExecStart=/var/www/gemini-discord/scripts/geminiiclient.php %i
Restart=on-failure
RestartSec=5

[Install]
WantedBy=gemini-discord.target
