[Unit]
Description=gemini-discord Target
Wants=gemini-discord-discordclient.service
Wants=gemini-discord-geminiclient@1.service
Wants=gemini-discord-geminiclient@2.service
Wants=gemini-discord-geminiclient@3.service
Wants=gemini-discord-geminiclient@4.service
After=network.target

[Install]
WantedBy=multi-user.target

