[Unit]
Description=gemini-discord Discord Client
PartOf=gemini-discord.target
After=network.target

[Service]
Type=simple
User=gemini-discord
Group=gemini-discord
ExecStart=/var/www/gemini-discord/bin/discordclient.php
Restart=on-failure
RestartSec=5

[Install]
WantedBy=gemini-discord.target
