[Unit]
Description=gemini-discord Target
Wants=discord-gemini.service
Wants=gemini-discord@1.service
Wants=gemini-discord@2.service
Wants=gemini-discord@3.service
Wants=gemini-discord@4.service
After=network.target

[Install]
WantedBy=multi-user.target

